<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume -mehran hussain</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                 <span class="d-block d-lg-none">Mehran Hussain</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/mehran.jpg" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Personal</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Mehran
                        <span class="text-primary">Hussain</span>
                    </h1>
                    <div class="subheading mb-5">
                        <p>Address : Mohallah swali VPO Shewa Tehsil Razar, District Swabi KPK, Pakistan</p>
                        <a href="mailto:mehranh91309@gmail.com">Email Address : mehranh91309@gmail.com</a>
                        <p>Phone No:(92)3112764875</p>
                    </div>
                    <p class="lead mb-5">Summary: Around 9 months experience of web development and desiging i am able to develope or design a short project in MERN. And around this situation i was worked 5 to 8 hours in everyday.
Now i want a company that accept my work and skills, check my work on github and skills is already here. I have also worked on PHP and PHP frameworks Laravel and now i am working only on MERN.
I want MERN intern to gain his experiece more and more. My English is not good but my technical skills is very good, so please don't focus on English because English is just a language. Thank you,</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/mehran-hussain-0147b7204/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/Mehran096"><i class="fab fa-github"></i></a>
                         
                        <a class="social-icon" href="https://web.facebook.com/mehran.hussain.16"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <ul>
                        <li class="mb-3">experiece in front-end used <span style="font-weight: 600;">HTML, CSS, javaScript, Reactjs, Sass, Bootstrap 4,5.</span></li>
                        <li class="mb-3">experiece in back-end used <span style="font-weight: 600;">Nodejs , PHP.</span></li>
                        <li class="mb-3">experiece in Framework used <span style="font-weight: 600;">Laravel, Expressjs.</span></li>
                        <li class="mb-3">experiece in Database used <span style="font-weight: 600;">Mysql, Mongodb.</span></li>
                        <li class="mb-3">experiece in REST-API used <span style="font-weight: 600;">POST-MAN for testing REST-API.</span></li>
                        <li class="mb-3">experiece in code editors used <span style="font-weight: 600;">notpad++, Atom, VScode.</span></li>
                        <li class="mb-3">experiece in  <span style="font-weight: 600;"> github.</span></li>
                        <li class="mb-3">experiece in Heroku used<span style="font-weight: 600;">  for free hosting website. </span></li>
                    </ul>
                     
                     
                     
                     
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Seswa Model School Shewa Swabi</h3>
                            <div class="subheading mb-3">SSC</div>
                            <p>Matriculaion examination</p>
                              
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"> 2012 -  2013</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Allama Muhammad Iqbal Model School & college</h3>
                            <div class="subheading mb-3">Fsc</div>
                            <p>pre-engineering</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"> 2014 - 2015</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5"  >
                        <div class="flex-grow-1">
                            <h3 class="mb-0">University Of Swabi</h3>
                            <div class="subheading mb-3">Bscs</div>
                            <p>Bechlor's Of Computer Science</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"> 2016 -  2018</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5"  >
                        <div class="flex-grow-1">
                            <h3 class="mb-0">KPBTE Peshawar</h3>
                            <div class="subheading mb-3">DIT</div>
                            <p>Deploma Information Technology</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-block dev-icons">
                        <li class="list-block-item"><i class="fab fa-html5"></i><span class="ml-5">HTML5</span></li>
                          
                        <li class="list-block-item"><i class="fab fa-css3-alt"></i><span class="ml-5">CSS3</span></li>
                        <li class="list-block-item"><i class="fab fa-js-square"></i><span class="ml-5" style="background-color: aqua;">JavaScript</span></li>
                        <li class="list-block-item"><i class="fab fa-js-square"></i><span class="ml-5" style="background-color: aqua;">EcmaScript</span></li>
                        <li class="list-block-item"><i class="fab fa-js-square"></i><span class="ml-5" style="background-color: aqua;">jquery</span></li>
                        <li class="list-block-item"><i class="fab fa-bootstrap"></i><span class="ml-5">Bootstrap 4,5</span></li>
                         <li class="list-block-item"><i class="fab fa-sass"></i><span class="ml-5">Sass</span></li>
                        <li class="list-block-item"><i class="fab fa-php"></i><span class="ml-5">PHP</span></li>
                         
                        <li class="list-block-item"><i class="fab fa-react"></i> <span class="ml-5" style="background-color: aqua;">React.js</span></li>
                        <li class="list-block-item"><i class="fab fa-node-js"></i><span class="ml-5" style="background-color: aqua;">Node.js</span></li>
                         
                        
                        <li class="list-block-item"><i class="fab fa-npm"></i><span class="ml-5" style="background-color: aqua;"> NPM</span></li>
                    </ul>
                    <div class="subheading mb-3">Database</div>
                    <ul  class="list-block dev-icons">
                        <li class="list-block-item"> Mysql </li>
                       
                        <li class="list-block-item"  >
                                <span style="background-color: aqua;"> Mongodb </span>
                         </li>
                        
                    </ul>
                    <div class="subheading mb-3">Framework</div>
                    <ul  class="list-block dev-icons">
                        <li class="list-block-item">Laravel </li>
                       
                        <li class="list-block-item" >
                               <span style="background-color: aqua;"> Express.js </span>
                         </li>
                        
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>When I was not entered into the coding then i was interests only in books reading.  </p>
                    <p class="mb-0">But when i entered into the coding then make interests only with coding and now coding has become my life.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Personal</h2>
                    <ul class="fa-ul mb-0">
                         <li class="mb-2">Father’s Name	:	Hasan Muhammad</li>
                         <li class="mb-2"> Date of Birth	:	2/15/1997</li>
                         <li class="mb-2"> CNIC		:	16204-0373216-1</li>
                         <li class="mb-2"> Nationality		:	Pakistani</li>
                         <li>  	Marital status	:	Single</li>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>